body {
    background-color: #e0f2f1;
    font-family: arial;
}

h1 {
    color: #009688;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

div.student {
    /* border: 5px solid gray; */
    padding: 8px;
    margin: 10px 15px 20px 15px;
    /* width: 40%;
    float: left; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

/* .container {
    height: 400px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
} */