body {
    font-family: arial;
}

h1 {
    color: #009688;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

div.student {
    background-color: #e0f2f1;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 15px 20px 15px;
}

div.student:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

div.student:first-child {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

li:first-child {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}